<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-3">
        <img class="img-responsive logoMin col-xs-12" src="images/logo.png" alt="logo">
      </div>
      <form ng-submit="userSearch()" class="col-sm-6 nav-search">
        <input type="text" class="user-search" placeholder="Search">
      </form>
      <div class="col-xs-1 col-sm-1"><a class="glyphicon glyphicon-user center" aria-labelledby="nav to new pin" href="/main.html#!/newpin"></a></div>
      <div class="col-xs-1 col-sm-1 glyphicon glyphicon-menu-hamburger" aria-hidden="true"></div>
      <div class="col-xs-1 col-sm-1">
        <a class="btn btn-danger" href="index.html">Logout</a> <!-- Temp Button -->
      </div>
    </div>
  </div>
</nav>
