<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-3">
        <img class="img-responsive logoMin col-xs-12" src="images/logo.png" alt="logo">
      </div>
      <form ng-submit="userSearch()" class="col-sm-6 nav-search">
        <input type="text" class="user-search" placeholder="Search">
      </form>
      <div class="col-xs-1 col-sm-1"><a class="glyphicon glyphicon-pushpin center" aria-labelledby="nav to new pin" href="/index.html#!/newpin"></a></div>
      <div class="col-xs-1 col-sm-1 glyphicon glyphicon-menu-hamburger" aria-labelledby="hamburger fropdwon"></div>
      <div class="col-xs-1 col-sm-1">
        <button class="btn" ng-click="logout()"><a href="/index.html">Logout</a></button>
      </div>
    </div>
  </div>
</nav>

<!-- PROFILE -->
<div class="container">
  <div class="user-profile">

    <!-- HEADER -->
    <div class="profile-header row">
      <h2 class="col-sm-12" ng-repeat="(k, v) in user">{{v.firstName}} {{v.lastName}}</h2>

    </div>
    <!-- BOARD-PIN NAV -->
    <div class="row marg">
      <a href="#" class="board-pin-tog col-sm-2 selected">Boards</a>
      <a href="/#!/pins" class="board-pin-tog col-sm-2">Pins</a>
    </div>

    <!-- BOARDS -->
    <div class="boards">


      <div class="modal fade" id="createNewBoard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create New Board</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div class="form-group"> <!-- Board field -->
                <label class="control-label " for="subject">Board</label>
                <input ng-model="newBoard.name" class="form-control" name="subject" type="text" placeholder="Title" ng-required="checkboxChecked" />
              </div>

              <div class="form-group"> <!-- Title field -->
                <label class="control-label " for="Comment">Board Description</label>
                <textarea ng-model="newBoard.description" class="form-control" cols="40" name="message" rows="5"  placeholder="Board description..." ng-required="checkboxChecked"></textarea>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn edit-button" data-dismiss="modal" ng-click="createBoard()">Create</button>
            </div>
          </div>
        </div>
      </div>




      <!-- NEW BOARD -->
      <div class="i-board col-sm-4">
        <button type="button" class="btn-new-board" data-toggle="modal" data-target="#createNewBoard" ng-click="postBoard()"><span class="glyphicon glyphicon-plus"></span></button>
        <div class="card-block row">
          <h4 class="card-title col-xs-12">Create Board</h4>
        </div>
      </div>




      <!-- v EDIT MODAL v -->
      <div class="modal fade" id="modelone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{boardName}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form name="editBoard">

                <div class="form-group"> <!-- Board field -->
                  <label class="control-label " for="subject">Edit Name</label>
                  <input ng-model="newBoard.name" class="form-control" name="subject" type="text" value="{{boardName}}" />
                </div>

                <div class="form-group"> <!-- Title field -->
                  <label class="control-label " for="Comment">Board Description</label>
                  <textarea ng-model="newBoard.description" class="form-control" cols="40" name="message" rows="5"  placeholder="" >{{boardDscrptn}}</textarea>
                </div>


              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn edit-button" data-dismiss="modal" ng-click="deleteBoard(key)">Delete Board</button>
              <button type="button" class="btn btn-secondary save-edit" data-dismiss="modal" ng-click="patchEdits(key)">Save Changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- ^MODAL^ -->

      <!-- ITERATED BOARDS -->
      <div class="i-board col-sm-4" ng-repeat="(k, v) in boards">

        <div ng-repeat="objects in boardPictures" ng-click="gotToPins(k)">
          <div  class="flexcontainer" ng-repeat="(key, value) in objects" ng-if="k === key">
            <div class="setSize" ng-repeat="pic in value">
              <img class="boardImages" ng-src="{{pic}}" alt="" />
            </div>
          </div>
        </div>

        <div class="card-block">

          <h4 class="card-title col-xs-8">{{v.name}}</h4>
          <!-- Button trigger modal -->
          <button type="button" class="btn edit-button col-xs-3" data-toggle="modal" data-target="#modelone" ng-click="dispModel(v.name, v.description, k)">
            Edit
          </button>

        </div>
      </div>
      <!-- END -->


    </div>




  </div>
</div>
