/*  Team Pinterested in Scott
Joel Legg
Luke Woodward
John McCutchan
*/
/*ALT FONT font-family: 'Work Sans', sans-serif;*/
/* Structure ======================================== */
#newPin { /* new pin form */
padding: 1em;
  margin-top: 2em;
}
.topMarg{
  margin-top:20px;
}
.center{
  display:block;
  text-align:center
}
.logoMin{
  min-height:50px;
  min-width:200px;
  display:block;
}
/* Skin ============================================= */
body {
  background-color: grey;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}
.navbar {
  padding: 1%;
}
.user-search {
  max-height: 40px;
  border-radius: 3px;
  width: 100%;
  background-color: lightgrey;
  padding: 2% 2.2% 2.3%;
  font-size: 2em;
  border: none;
  box-shadow: none;
  font-weight: bold;
}
input:focus {
  box-shadow: 0 0 5px grey;
  transition: all 0.50s ease-in-out;
  outline: none;
}
.glyphicon {
  font-size: 20px;
  color: grey;
  text-align: center;
  margin-top: 7px;
}
.lightgray{
  background-color:rgba(189, 195, 199,1.0);
}
#newPin { /* new pin form */
  border: 1.5px solid white;
  border-radius: 1em;
}
.modal-content, .modal-footer, .modal-body{
  color:black;
}
/* Breakpoints ====================================== */



/* END ============================================== */
